
.deactivation_n_deletion_container{
    width: 80%;
    height: fit-content;
    margin: auto;
    margin-top: 70px;
    font-family: 'Montserrat';
    font-style: normal;
}

.deactivation_n_deletion_container > h2{
    width: 100%;
    height: fit-content;
    font-weight: 700;
    font-size: 48px;
    line-height: 59px;
    padding-bottom: 20px;
    border-bottom: 1px solid black;
    margin: 0px;
    }

.deactivation_n_deletion_container > p{
    width: 100%;
    height: fit-content;
    margin-top: 20px;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: rgba(0, 0, 0, 0.7);
}

.choice_box{
    width: 80%;
    height: fit-content;
    margin: auto;
    margin-top: 30px;
    padding: 50px;
    display: flex;
    flex-direction: column;
    row-gap: 50px;
    background: #FFFFFF;
    box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
}

.de_activate_container, .delete_container{
    display: flex;
    justify-content: flex-start;
    column-gap: 15px;
}

.de_activate_container > input, .delete_container > input{
    width: 18px;
    height: 18px;
}

.choice_info > p, .choice_info > h3, .choice_info > h5{
    padding: 0px;
    margin: 0px;
}

.choice_info > h3{
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
}

.choice_info > h5{
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: rgba(0, 0, 0, 0.7);
    margin-bottom: 5px;
}

.choice_info > p{
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: rgba(0, 0, 0, 0.7);
}

@media screen and (min-width: 768px) and (max-width: 1023px){
    
.deactivation_n_deletion_container{
    width: 90%;
    height: fit-content;
    margin: auto;
    margin-top: 50px;
    font-family: 'Montserrat';
    font-style: normal;
}

.deactivation_n_deletion_container > h2{
    font-weight: 700;
    font-size: 40px;
    line-height: 49px;
    padding-bottom: 30px;
}

.deactivation_n_deletion_container > p{
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
}

.choice_box{
    width: 80%;
    height: fit-content;
    margin: auto;
    margin-top: 70px;
    padding: 70px 30px;
    display: flex;
    flex-direction: column;
    row-gap: 50px;
    background: #FFFFFF;
    box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
}

.de_activate_container, .delete_container{
    display: flex;
    justify-content: flex-start;
    column-gap: 25px;
}

.de_activate_container > input, .delete_container > input{
    width: 18px;
    height: 18px;
}

.choice_info > p, .choice_info > h3, .choice_info > h5{
    padding: 0px;
    margin: 0px;
}

.choice_info > h3{
    font-weight: 400;
    font-size: 22px;
    line-height: 27px;
}

.choice_info > h5{
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
}

.choice_info > p{
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
}
}

@media screen and (max-width: 767px) {

    .deactivation_n_deletion_container{
        width: 90%;
        height: fit-content;
        margin: auto;
        margin-top: 60px;
        font-family: 'Montserrat';
        font-style: normal;
    }
    
    .deactivation_n_deletion_container > h2{
        font-weight: 700;
        font-size: 24px;
        line-height: 29px;
        padding-bottom: 30px;
    }
    
    .deactivation_n_deletion_container > p{
        font-weight: 400;
        font-size: 14px;
        line-height: 21px;
        color: rgba(0, 0, 0, 0.7);
    }
    
    .choice_box{
        width: 100%;
        height: fit-content;
        margin: auto;
        margin-top: 56px;
        padding: 35px 20px;
        display: flex;
        flex-direction: column;
        row-gap: 35px;
        background: #FFFFFF;
        box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.25);
        border-radius: 20px;
    }
    
    .de_activate_container, .delete_container{
        display: flex;
        justify-content: flex-start;
        column-gap: 20px;
    }
    
    .de_activate_container > input, .delete_container > input{
        width: 16px;
        height: 16px;
    }
    
    .choice_info > p, .choice_info > h3, .choice_info > h5{
        padding: 0px;
        margin: 0px;
    }
    
    .choice_info > h3{
        font-weight: 400;
        font-size: 20px;
        line-height: 24px;
    }
    
    .choice_info > h5{
        font-weight: 500;
        font-size: 15px;
        line-height: 18px;
    }
    
    .choice_info > p{
        font-weight: 400;
        font-size: 14px;
        line-height: 22px;
    }
    
}