
.dropdown_container{
    width: 100%;
    height: fit-content;
    font-family: 'Montserrat';
    font-style: normal;
    position: relative;
}

.dropdown_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 10px;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    


}

.dropdown_header > p{
    margin: 0px;
}

.dropdown_header > img{
    width: 22px;
    height: 11px;
    cursor: pointer;
}

.dropdown_container > .choice_container{
    z-index: 20;
    width: 100%;
    height: fit-content;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;

    font-weight: 500;
    font-size: 18px;
    line-height: 22px;

    padding: 20px 30px;

    position: absolute;
    top: 0;
    left: 0;
}

.choice_container > #selection_instruction{
    text-align: center;
}

.choice_container > .items_list{
    width: 100%;
    height: fit-content;
    max-height: 250px;
    overflow-y: auto;

}

.items_list > p{
    border: none;
    background-color: #ffffff;
    text-align: left;

    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 20px;
    cursor: pointer;
}


@media screen and (min-width: 768px) and (max-width: 1023px) {
    .dropdown_header > p{
        font-size: 20px;
    }
}


@media screen and (max-width: 767px) {
    .dropdown_header > p{
        font-size: 18px;
    }

    .dropdown_header > img{
        width: 16px;
        height: 8px;
    }
}