
/* User profile relates styling */
.user_profile_component{
    width: 100%;
    height: auto;
}

.user_pic_container{
    width: 100%;
    height: auto;
    position: relative;
}

.user_profile_bg{
    width: 100%;
    height: auto;
}


.user_pic_inner_container{
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    width: fit-content;
    height: fit-content;
}
.user_profile_picture{
    width: 297px;
    height: 309px;
    filter: drop-shadow(0px 8px 4px rgba(0, 0, 0, 0.25));
}

#cam{
    width: auto;
    height: auto;

    position: absolute;
    bottom: 38px;
    right: 40px;
}

#edit_profile_pic{
    position: absolute;
    right: 12%;
    top: 50px;

    width: 30px;
    height: 30px;
}


/* User information relates styling */

.User_user_info{
    width: 80%;
    margin: auto;
    margin-top: 58px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.User_user_info p{
    padding: 0px;
    margin: 0px;
}

.user_left_side{
    width: 60%;
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}


.username_container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 30px;
}

#User_username{
    width: fit-content;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 59px;
    /* identical to box height */
    color: #0E0D0D;
    padding: 0px;
    margin: 0px;

}

#uni_loc{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #0E0D0D;

}

#university_name{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
}

.username_container img{
    width: 47px;
    height: 47px;
}

.social_n_choice_btns{
    width: 80%;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 66px;
    display: flex;
    justify-content: flex-start;
    column-gap: 50px;
}

.social_count{
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    column-gap: 50px;

}

.social_count p, .choice_btns p{
    width: fit-content;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #1950B7;
}

.choice_btns{
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    column-gap: 50px;

}

.choice_btns > a, .social_count > a{
    width: fit-content;
    height: fit-content;
}

#try_it_btn{
    width: fit-content;
    background: #1A66CA;
    border-radius: 30px;
    padding: 18px 40px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.06em;
    color: #FFFFFF;

}

#buy_plan_btn{
    width: fit-content;
    border: 2px solid #1A66CA;
    box-sizing: border-box;
    border-radius: 30px;
    padding: 18px 24px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.06em;
    color: #000000;

}

.user_right_side{
    width: 40%;
    display: flex;
    flex-direction: column;
    row-gap: 53px;
    justify-content: flex-end;
}

.user_right_side img{
    width: 47px;
    height: 47px;
    align-self: flex-end;
    margin-right: 7%;
    margin-top: 2%;
}

.cofounders_hub{
    display: flex;
    justify-content: flex-end;
    column-gap: 18px;
}

.founders_logo_container{
    width: 37px;
    height: 37px;
    position: relative;
}

#logo_bg{
    width: 37px;
    height: 37px;
}

#pol1{

    width: 17.76px;
    height: 17.76px;
    position: absolute;
    top: 12.95px;
    left: 5.18px;
}

#pol2{

    width: 17.76px;
    height: 17.76px;
    position: absolute;
    top: 9.62px;
    left: 12.21px;
}


.cofounders_hub p{
    width: fit-content;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 37px;
    color: #000000;
}

.cofounders_hub img{
    width: 47px;
    height: 47px;
}

#edit_user_info{
    cursor: pointer;

}

@media (max-width: 1310px) {
    .cofounders_hub p{
        font-size: 22px;
        
    }

    .cofounders_hub img{
        width: 40px;
        height: 40px;
    }

    .social_count{  
        display: flex;
        column-gap: 85px
    }

    #try_it_btn{
        font-size: 14px;
        padding: 12px 30px;

    }
    
    #buy_plan_btn{
        font-size: 14px;
        padding: 12px 25px;

    }
    
}

@media screen and (min-width: 769px) and (max-width: 1023px) {

    .User_user_info{
        margin-top: 40px;
    }

    .user_profile_picture{
        width: 200px;
        height: 205px;
    }

    #cam{
        width: 28px;
        height: 20px;
    
        position: absolute;
        bottom: 26px;
        right: 22px;
    }

    #User_username{
        font-size: 30px; 
    }

    .username_container img{
        width: 30px;
        height: 30px;
    }
    
    #university_name,  #uni_loc{
        font-size: 20px;

    }

    .social_n_choice_btns{
        width: 80%;
        margin: auto;
        margin-top: 20px;
        margin-bottom: 40px;
        display: flex;
        justify-content: flex-start;
        column-gap: 50px;
    }

    .social_count{
        font-size: 18px;
    }

    .choice_btns{
        column-gap: 20px;
    }

    #try_it_btn{
        font-size: 16px;
        padding: 10px 20px;

    }
    
    #buy_plan_btn{
        font-size: 16px;
        padding: 10px 20px;

    }

    .user_right_side img{
        width: 30px;
        height: 30px;  
    }

    .founders_logo_container #logo_bg{
        width: 30px;
        height: 30px;
    }

    #pol1{

        width: 17.76px;
        height: 17.76px;
        position: absolute;
        top: 6.48px;
        left: 3.18px;
    }
    
    #pol2{
    
        width: 17.76px;
        height: 17.76px;
        position: absolute;
        top: 4.81px;
        left: 10.21px;
    }

    .cofounders_hub p{
        font-size: 16px;
    }

}

@media (max-width: 768px){
    .user_profile_picture{
        width: 100px;
        height: 102px;
    }

    #cam{
        width: 22px;
        position: absolute;
        bottom: 10px;
        right: 10px;
    }

    #edit_profile_pic{
        width: 20px;
        height: 20px;
        position: absolute;
        right: 7%;
        top: 20px;
    }

    .User_user_info{
        width: 90%;
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        position: relative;
    }

    .user_left_side{
        width: 90%;
        display: flex;
        flex-direction: column;
        row-gap: 0px;
    }

    #User_username{
        font-size: 24px;
    }

    .username_container{
        padding: 0px;
        display: flex;
        column-gap: 10px;
    }
    .username_container img{
        width: 20px;
    }

    .user_right_side img{
        width: 20px;
        height: 20px;
        margin-right: 0px;
        position: absolute;
        top: 15px;
        right: 0px;
    }

    #uni_loc, #university_name{
        font-size: 16px;
    }

    .social_n_choice_btns{
        width: 90%;
        margin: auto;
        margin-top: 10px;
        margin-bottom: 30px;
        display: flex;
        justify-content: flex-start;
        column-gap: 50px;

    }

    .social_count{
        display: flex;
    }

    .social_count p, .choice_btns p{
        width: fit-content;
        font-size: 16px;

    }

    .choice_btns{
        width: fit-content;
        display: flex;

    }

    #try_it_btn, #buy_plan_btn{
        width: fit-content;
        font-size: 10px;
        padding: 5px 10px;
    }

    .cofounders_hub{
        width: fit-content;
        height: fit-content;
        
        position: absolute;
        top: 55px;
        right: 0px;

        display: flex;
        column-gap: 0px;
    }

    #logo_bg{
        width: 30px;
        height: 30px;
        align-self: center;

        position: absolute;
        top: 0px;
        left: 0px;
    }

    #pol1{

        width: 12.76px;
        height: 12.76px;
        position: absolute;
        top: 9.48px;
        left: 5.18px;
    }
    
    #pol2{
    
        width: 12.76px;
        height: 12.76px;
        position: absolute;
        top: 7.81px;
        left: 12.21px;
    }

    .cofounders_hub p{
        font-size: 12px;
    }


}